In [361]:
import pandas as pd 
import os

#os.chdir('/kaggle/input/brazilian-ecommerce/') # jeżeli odpalasz to na stronie kaggle w notebooku odkomentuj tą linijkę
for dirname, _, filenames in os.walk(os.getcwd()):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:\Users\mikol\PycharmProjects\AllegroRecruit\2021_Rozwiązanie_Data_Science_Intern_Mikołaj_Kita.ipynb
C:\Users\mikol\PycharmProjects\AllegroRecruit\asfs.py
C:\Users\mikol\PycharmProjects\AllegroRecruit\Mikołaj_Kita.ipynb
C:\Users\mikol\PycharmProjects\AllegroRecruit\notebook7c8739dc68.ipynb
C:\Users\mikol\PycharmProjects\AllegroRecruit\olist_customers_dataset.csv
C:\Users\mikol\PycharmProjects\AllegroRecruit\olist_geolocation_dataset.csv
C:\Users\mikol\PycharmProjects\AllegroRecruit\olist_orders_dataset.csv
C:\Users\mikol\PycharmProjects\AllegroRecruit\olist_order_items_dataset.csv
C:\Users\mikol\PycharmProjects\AllegroRecruit\olist_order_payments_dataset.csv
C:\Users\mikol\PycharmProjects\AllegroRecruit\olist_order_reviews_dataset.csv
C:\Users\mikol\PycharmProjects\AllegroRecruit\olist_products_dataset.csv
C:\Users\mikol\PycharmProjects\AllegroRecruit\olist_sellers_dataset.csv
C:\Users\mikol\PycharmProjects\AllegroRecruit\product_category_name_translation.csv
C:\Users\mikol\PycharmProjects\AllegroRecruit\.idea\AllegroRecruit.iml
C:\Users\mikol\PycharmProjects\AllegroRecruit\.idea\misc.xml
C:\Users\mikol\PycharmProjects\AllegroRecruit\.idea\modules.xml
C:\Users\mikol\PycharmProjects\AllegroRecruit\.idea\workspace.xml
C:\Users\mikol\PycharmProjects\AllegroRecruit\.idea\inspectionProfiles\profiles_settings.xml

In [362]:
customer = pd.read_csv('olist_customers_dataset.csv')
geolocation = pd.read_csv('olist_geolocation_dataset.csv')
seller = pd.read_csv( 'olist_sellers_dataset.csv')
orders = pd.read_csv('olist_orders_dataset.csv')
order_items = pd.read_csv('olist_order_items_dataset.csv')
order_reviews = pd.read_csv('olist_order_reviews_dataset.csv')
order_payments = pd.read_csv('olist_order_payments_dataset.csv')
products = pd.read_csv('olist_products_dataset.csv')

In [363]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.0+ MB

In [364]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 3.0+ MB

In [365]:
customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.3+ MB

In [366]:
order_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 3.1+ MB

In [367]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 4.3+ MB

In [368]:
orders_delivered = orders[['order_id', 'customer_id', 'order_purchase_timestamp']][(orders['order_status']=='delivered')]
products_with_category = products[['product_category_name', 'product_id']].dropna()
orders_delivered = orders_delivered.merge(order_reviews[['review_score', 'order_id']], on='order_id', how = 'left')
orders_delivered = orders_delivered.merge(order_items[['order_id', 'product_id', 'price']], on='order_id', how = 'left')
orders_delivered = orders_delivered.merge(customer[['customer_id', 'customer_city', 'customer_state']], on='customer_id', how = 'left')
products_with_ratings = orders_delivered.merge(products_with_category, on='product_id', how = 'inner')

In [369]:
products_with_ratings

,order_id,customer_id,order_purchase_timestamp,review_score,product_id,price,customer_city,customer_state,product_category_name
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,4,87285b34884572647811a353c7ac498a,29.99,sao paulo,SP,utilidades_domesticas
1,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,2017-08-15 18:29:31,4,87285b34884572647811a353c7ac498a,29.99,sao paulo,SP,utilidades_domesticas
2,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,2017-08-02 18:24:47,5,87285b34884572647811a353c7ac498a,29.99,sao paulo,SP,utilidades_domesticas
3,bfc39df4f36c3693ff3b63fcbea9e90a,53904ddbea91e1e92b2b3f1d09a7af86,2017-10-23 23:26:46,3,87285b34884572647811a353c7ac498a,29.99,florianopolis,SC,utilidades_domesticas
4,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,4,595fac2a385ac33a80bd5114aec74eb8,118.70,barreiras,BA,perfumaria
...,...,...,...,...,...,...,...,...,...
109298,e8fd20068b9f7e6ec07068bb7537f781,609b9fb8cad4fe0c7b376f77c8ab76ad,2017-08-10 21:21:07,4,0df37da38a30a713453b03053d60d3f7,356.00,sao paulo,SP,esporte_lazer
109299,e8fd20068b9f7e6ec07068bb7537f781,609b9fb8cad4fe0c7b376f77c8ab76ad,2017-08-10 21:21:07,4,0df37da38a30a713453b03053d60d3f7,356.00,sao paulo,SP,esporte_lazer
109300,cfa78b997e329a5295b4ee6972c02979,a2f7428f0cafbc8e59f20e1444b67315,2017-12-20 09:52:41,1,3d2c44374ee42b3003a470f3e937a2ea,55.90,campo do tenente,PR,instrumentos_musicais
109301,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:05,5,ac35486adb7b02598c182c2ff2e05254,72.00,sao jose dos campos,SP,beleza_saude
109302,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,5,006619bbed68b000c8ba3f8725d5409e,68.50,lapa,PR,beleza_saude

In [370]:
orders_by_product = products_with_ratings.groupby('product_id').size().sort_values(ascending=False)
orders_average_price = products_with_ratings[['product_id', 'price']].groupby("product_id").agg("mean")
orders_by_product = orders_by_product.to_frame().reset_index()
orders_by_product.rename(columns={0: "number_of_purchases"}, inplace = True)
products_with_ratings = products_with_ratings.merge(orders_by_product, on='product_id', how = 'inner')
products_with_ratings.fillna(0)
orders_by_product = orders_by_product.merge(orders_average_price, on = 'product_id', how ='inner')
orders_by_product["revenue_per_product"] = (orders_by_product['price']*orders_by_product['number_of_purchases'])
orders_by_product.sort_values(by = 'revenue_per_product', inplace = True, ascending = False)
orders_by_product.reset_index(inplace=True)

In [371]:
time_cutoff = '2017-07-27'
products_with_ratings.drop_duplicates(inplace=True)
products_with_ratings.sort_values(by='order_purchase_timestamp', inplace = True)
product_groups = products_with_ratings.groupby('product_category_name')['product_id'].count()
products_with_ratings = products_with_ratings[(products_with_ratings['order_purchase_timestamp'] > time_cutoff)]
products_with_ratings

,order_id,customer_id,order_purchase_timestamp,review_score,product_id,price,customer_city,customer_state,product_category_name,number_of_purchases
86177,bd80b9345b95ad0a5ce3c064ed1b978e,9a99e708648d1215092a52e22376c0a3,2017-07-27 08:42:12,5,eee06252189d5bb575a31c9672cd67ed,182.00,rio de janeiro,RJ,automotivo,1
22642,c89196f74a201cf6b6a9f51b860c1614,4da0ee944b4f4740831a82067b23e5dd,2017-07-27 08:42:43,4,418b40c9e83b7e5ac79e4a7ef975ebbe,159.00,maringa,PR,eletrodomesticos_2,5
65241,705c73692cee1d4b25042f00e09d7688,0c4846a1d98b1cba181d10d8f391b827,2017-07-27 08:44:04,4,d4d1de9db08cae166ea1a506ea87769b,21.00,macedonia,SP,informatica_acessorios,6
99610,119a3c5bf983f0498c0c21c1aca734e0,e81e3c4a1ce58b000f69c2166bffc095,2017-07-27 08:44:16,5,c3cb90d6661bb30151744dab7aacb80d,46.80,lages,SC,casa_construcao,2
71144,40937e994b9bf8d1d1d545e2605e3834,fba94032e6d3ae20580b20c04d55c399,2017-07-27 08:44:44,4,b97114b2893e68400ae867459b491bcd,34.90,carlos barbosa,RS,cama_mesa_banho,3
...,...,...,...,...,...,...,...,...,...,...
92164,52018484704db3661b98ce838612b507,e450a297a7bc6839ceb0cf1a2377fa02,2018-08-29 12:25:59,1,777798445efd625458a90c13f3b3e6e7,63.90,sao paulo,SP,brinquedos,2
58892,0b223d92c27432930dfe407c6aea3041,e60df9449653a95af4549bbfcb18a6eb,2018-08-29 14:18:23,5,2b4472df15512a2825ae86fd9ae79335,209.00,curitiba,PR,moveis_cozinha_area_de_servico_jantar_e_jardim,3
43984,168626408cb32af0ffaf76711caae1dc,6e353700bc7bcdf6ebc15d6de16d7002,2018-08-29 14:18:28,5,bdcf6a834e8faa30dac3886c7a58e92e,45.90,paracatu,MG,beleza_saude,30
101670,03ef5dedbe7492bdae72eec50764c43f,496630b6740bcca28fce9ba50d8a26ef,2018-08-29 14:52:00,3,c7f27c5bef2338541c772b5776403e6a,24.90,sao caetano do sul,SP,artigos_de_festas,1
28547,35a972d7f8436f405b56e36add1a7140,898b7fee99c4e42170ab69ba59be0a8b,2018-08-29 15:00:37,5,d04857e7b4b708ee8b8b9921163edba3,84.99,limeira,SP,informatica_acessorios,83

In [372]:
customer_categories = products_with_ratings[products_with_ratings.groupby(['customer_id'])['product_category_name'].transform('nunique') > 1]
customer_categories.drop_duplicates()
print(customer_categories.info())
categories_with_customers = customer_categories[['customer_id', 'product_category_name', 'product_id', 'review_score', 'customer_city', 'customer_state']]
categories_with_customers = categories_with_customers.sort_values(by='customer_id')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1340 entries, 6854 to 107150
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   order_id                  1340 non-null   object
 1   customer_id               1340 non-null   object
 2   order_purchase_timestamp  1340 non-null   object
 3   review_score              1340 non-null   int64
 4   product_id                1340 non-null   object
 5   price                     1340 non-null   float64
 6   customer_city             1340 non-null   object
 7   customer_state            1340 non-null   object
 8   product_category_name     1340 non-null   object
 9   number_of_purchases       1340 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 78.5+ KB
None

In [373]:
def find_similar_people(category_1, category_2, category_3):
    customers_with_categories_1 = categories_with_customers['customer_id'][(categories_with_customers['product_category_name'] == category_1)]
    customers_with_categories_1.drop_duplicates(inplace=True)
    customers_with_categories_2 =categories_with_customers['customer_id'][(categories_with_customers['product_category_name'] == category_2)]
    customers_with_categories_2.drop_duplicates(inplace=True)
    customers_with_categories_3 =categories_with_customers['customer_id'][(categories_with_customers['product_category_name'] == category_3)]
    customers_with_categories_3.drop_duplicates(inplace=True)
    customers_with_categories_1 = customers_with_categories_1.to_frame().reset_index()
    customers_with_categories_2 = customers_with_categories_2.to_frame().reset_index()
    customers_with_categories_3 = customers_with_categories_3.to_frame().reset_index()
    category_1_with_category_2 = customers_with_categories_1.merge(customers_with_categories_2['customer_id'], on='customer_id')    
    category_1_with_category_3 = customers_with_categories_1.merge(customers_with_categories_3['customer_id'], on ='customer_id')
    category_2_with_category_3 = customers_with_categories_2.merge(customers_with_categories_3['customer_id'], on ='customer_id')
    all_categories_combined = category_1_with_category_2.merge(category_1_with_category_3['customer_id'], on='customer_id', how ='outer')
    all_categories_combined = all_categories_combined.merge(category_2_with_category_3['customer_id'], on='customer_id', how ='outer')
    all_categories_combined.drop_duplicates(inplace=True)
    return all_categories_combined

In [374]:
def user_info(dataset, orders_by_product_with_revenue, number_to_display = 10, category_1=0, category_2=0, category_3=0, city=0, state=0):
    
    if category_1 == 0 and category_2 == 0 and category_3 == 0 and city == 0 and state == 0:
            
            return orders_by_product_with_revenue['product_id'].head(10)
    similar_people_id = find_similar_people(category_1, category_2, category_3)
    similar_people = similar_people_id.merge(dataset[['product_id', 'customer_id', 'product_category_name', 'review_score']], on='customer_id', how = 'inner')
    missing_amount_of_items = number_to_display - similar_people.shape[0]
    review_mtx = similar_people.pivot_table(values='review_score', index='customer_id', columns='product_id')
    review_mtx = review_mtx.mean().sort_values(ascending=False)
    if missing_amount_of_items <= 0:
        review_mtx = review_mtx.to_frame().reset_index()
        return review_mtx['product_id'].head(number_to_display)
    else:
        dataset = dataset[(((dataset['product_category_name'] == category_1) | (dataset['product_category_name'] == category_2) | 
                       (dataset['product_category_name'] == category_3)) & (dataset['customer_city']== city) & (dataset['customer_state'] == state))]
        dataset = dataset[['product_id', 'customer_id','review_score', 'product_category_name']]
        orders_grouped_by_product = dataset.groupby('product_id').size().sort_values(ascending=False)
        orders_grouped_by_product = orders_grouped_by_product.to_frame().reset_index()
        orders_grouped_by_product.rename(columns={0: "number_of_purchases"}, inplace = True)
        orders_grouped_by_product = orders_grouped_by_product[(orders_grouped_by_product['number_of_purchases'] > 3 * orders_grouped_by_product['number_of_purchases'].mean())]
        dataset = dataset.merge(orders_grouped_by_product, on='product_id', how = 'inner')
        review_mtx_same_location_one_category = dataset.pivot_table(values='review_score', index='customer_id', columns='product_id')
        review_mtx_same_location_one_category = review_mtx_same_location_one_category.mean().sort_values(ascending=False)
        dataset.drop_duplicates(inplace=True)
        review_mtx = review_mtx.to_frame().reset_index()
        review_mtx = review_mtx.rename(columns={0: "review_average_score"})
        review_mtx_same_location_one_category = review_mtx_same_location_one_category.to_frame().reset_index()
        review_mtx_same_location_one_category = review_mtx_same_location_one_category.rename(columns={0: "review_average_score"})
        if review_mtx.empty:
            return review_mtx_same_location_one_category['product_id'].head(number_to_display)        
        else:
            review_mtx_combined = pd.concat([review_mtx, review_mtx_same_location_one_category])
            review_mtx_combined = pd.DataFrame(review_mtx_combined)
            review_mtx_combined = review_mtx_combined[(review_mtx_combined['review_average_score']>=4)]
            review_mtx_combined.reset_index(inplace=True)
            return review_mtx_combined['product_id'].head(number_to_display)

In [375]:
display_number = 10
product_matrix = user_info(products_with_ratings, orders_by_product, display_number, 'cama_mesa_banho', 'papelaria', 'fashion_calcados', 'sao paulo', 'SP')
product_matrix

0    013ee64977aaa6b2b25475095162e0e9
1    28a652ff04e43c1bc57937a9f8770f9b
2    736f1b87428f9cfe5f5184c4ac0fbe05
3    fcaab5d7f656094e49fbe4ee3a506658
4    f1c7f353075ce59d8a6f3cf58f419c9c
5    2a2d22ae30e026f1893083c8405ca522
6    8a443635fdf9759915c9be5be2e3b862
7    47cd48073d67f91f09cb5ef9496c920b
8    e03102efbc2229024c89be731f0aedcb
9    bb42f37fc3d9130e4a4339d24a47dd7c
Name: product_id, dtype: object

In [376]:
product_matrix = user_info(products_with_ratings, orders_by_product, display_number, 'esporte_lazer', 'moveis_decoracao', 'telefonia', 'rio de janeiro', 'RJ')
product_matrix

0    4231002e80d2a25aed31d65b4b91f479
1    72de34cc9f1e580f4c11d830be654271
2    a54f350cdb1f303fe39221171d003852
3    f48eb5c2fde13ca63664f0bb05f55346
4    fa9cf28beaafe4f4bec59550f6c76481
5    a237de12bdf0bfe4fe220bae65a89731
6    44a34214a57dc373dcd80f54c919d006
7    764292b2b0f73f77a0272be03fdd45f3
8    e44f675b60b3a3a2453ec36421e06f0f
9    4a300735bc293723103db0d0c1bc1585
Name: product_id, dtype: object

In [381]:
product_matrix = user_info(products_with_ratings, orders_by_product)
product_matrix

0    bb50f2e236e5eea0100680137654686c
1    6cdd53843498f92890544667809f1595
2    d6160fb7873f184099d9bc95e30376af
3    d1c427060a0f73f6b889a5c7c61f2ac4
4    99a4788cb24856965c36a24e339b6058
5    3dd2a17168ec895c781a9191c1e95ad7
6    25c38557cf793876c5abdd5931f922db
7    5f504b3a1c75b73d6151be81eb05bdc9
8    53b36df67ebb7c41585e8d54d6772e08
9    aca2eb7d00ea1a7b8ebd4e68314663af
Name: product_id, dtype: object

In [378]:
product_matrix = user_info(products_with_ratings, orders_by_product, display_number, 'cama_mesa_banho', 'moveis_decoracao', 'artes', 'rio de janeiro', 'RJ')
product_matrix

0    3e5201fe0d1ba474d9b90152c83c706c
1    3017341f6eb19840f64bd672370a91cc
2    38f894aa22356ddb9e98478fbc016083
3    bff2390f68a7b76b01ef61b684888261
4    3e362e76af5b6669122b87d6f0a38eca
5    8ccaa3f8b171b199e37294ece30815a3
6    40cb7bb3d30559b9b6c4fb62bc837962
7    446a60562915e8223780cd142b8dc26d
8    4e76a66033e3afa48e5ec8bf18e1c855
9    50b2ddbf47bd0b8eecabb404613e2a45
Name: product_id, dtype: object